* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
body {
    margin-right: -71em;
}
nav {
    background-color: #3d3d29;
    padding: 0.5em 0 1em;
}

.bnav {
    display: inline;
}

#logo {
    display: inline-block;
    margin-bottom: -1em;
    margin-left: 13em;
    margin-right: 1em;
}

section {
    margin: 1em 15em;
}

#main1 {
    margin-bottom: 7em;
    text-align: left;
    border-bottom: 1px solid;
}
#b1 {
    background-color: blue;
    border-radius: 5px;
    color: white;
    height: 40px;
    margin-bottom: 12em;
    margin-top: 10px;
    width: 133px;
}
.b2 {
    display: block;
}
h2 {
    display: inline-block;
    text-align: right;
    margin-right: 18em;
    font-size: 2em;
}
div {
    background-color: #e0e0d1;
    margin-top: -6em;
    border-radius: 2px;
    height: 25px;
    text-align: center;
    padding-top: 8px;
    border: 1px solid #c2c2a3;
}
#p1 {
    font-size: 0.8em;
    margin-right: 52em;
    margin-top: 2em;
}
#p2 {
    text-align: center;
}
.p3 {
    font-size: 0.7em;
    display: inline-block;
    margin-right: 4em;
}
#imgmain {
    float: left;
    margin-right: 1em;
    border-radius: 3px;
}
h3 {
    display: block;
}
ul {
    padding: 0em;
}
li {
    display: inline-block;
}
footer {
    margin: 1em 15em;
}
.l2 {
    width: 32%;
}

a {
    text-decoration: none;
    color:white;
    margin-right: 1em;
}
a:visited {
    text-decoration: none;
    color:white;
}
a:hover {
    text-decoration: none;
    color:white;
}
