body {
    width: 1280px;
}
nav {
    background-color: grey;
    padding: 1em 0 0.5em;
}
.bnav {
    display: inline;
}
#logo {
    margin-left: 13em;
    display: inline-block;
}

main {
    margin: 1em 12em;
}

#main1 {
    margin-right: -4em;
    margin-bottom: 7em;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid;
}
#b1 {
    margin-bottom: 2em;
}
h2 {
    display: inline-block;
    text-align: right;
    margin-right: 3em;
}
#p1 {
    font-size: 0.7em;
    margin-top: -1em;
}
#p2 {
    background-color: grey;
    text-align: center;
    border: 0.3em solid black;
    margin-top: -6em;
}
#imgmain {
    float: left;
    margin-right: 1em;
    width: 50%;
    height: 50%;
}
li {
    display: inline-block;
}
footer {
    margin: 1em 12em;
}
.l2 {
    display: inline;
}
