body {
    width: 1280px;
}

nav {
    background-color: grey;
    padding: 0.5em 0 1em;
}

.bnav {
    display: inline;
}

#logo {
    display: inline-block;
    margin-bottom: -1em;
    margin-left: 13em;
    margin-right: 1em;
}

section {
    margin: 1em 12em;
}

#main1 {
    margin-bottom: 7em;
    text-align: left;
    border-bottom: 1px solid;
}
#b1 {
    margin-bottom: 2em;
}
.b2 {
    display: block;
}
h2 {
    display: inline-block;
    text-align: right;
    margin-right: 3em;
}
#p1 {
    font-size: 0.7em;
    margin-top: -1em;
}
#p2 {
    background-color: grey;
    text-align: center;
    border: 0.3em solid black;
    margin-top: -6em;
}
.p3 {
    font-size: 0.7em;
    display: inline-block;
    margin-right: 4em;
}
#imgmain {
    float: left;
    margin-right: 1em;
    width: 50%;
    height: 50%;
}
h3 {
    display: block;
}
ul {
    padding: 0em;
}
li {
    display: inline-block;
}
footer {
    margin: 1em 12em;
}
.l2 {
    width: 32%;
}

a {
    text-decoration: none;
    color:white;
    margin-right: 1em;
}
a:visited {
    text-decoration: none;
    color:white;
}
a:hover {
    text-decoration: none;
    color:white;
}
